#map {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    z-index: 0;
}

#map:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 10;
    pointer-events: none;
    -webkit-box-shadow: inset 0px 11px 10px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 10px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 11px 10px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 10px -10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 11px 10px -10px rgba(0, 0, 0, 0.3), inset 0px -11px 10px -10px rgba(0, 0, 0, 0.3);
}

div.leaflet-popup-content>p {
    margin: 0 !important
}

#logo_img {
    width: 50px;
}

.logo_container {
    display: flex;
    align-items: center;
    width: 170px;
}

.logo_container>h5 {
    display: inline;
    margin-bottom: 0;
    margin-left: 5px;
}

.logo_input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#link_input {
    margin-left: 40px;
    margin-right: 40px;
    flex-grow: 2;
}

.empty {
    height: 10px;
    min-width: 170px;
    content: '\200b';
}

@media only screen and (max-width: 992px) {
    .logo_input_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .logo_container {
        margin-bottom: 15px;
    }
    #link_input {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .form-row>.col-md-1 {
        text-align: center;
    }
    #button {
        margin-top: 10px;
    }
}